{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}
<script type="text/javascript">
      $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>

<div class="page-header">
  <h2>Photos</h2>
</div>
<div class="row">
    {%for url in photo_urls%}
        <div class="col s6 m4">
            <div class="card">
                <div class="card-image">
                    <img class="materialboxed" src="{{url}}">
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
