
{% extends 'layouts/main.html' %}
{% block content %}

<!-- START: section -->
<section class="probootstrap-intro" style="background-image: url(/static/img/hero_bg_2.jpg);" data-stellar-background-ratio="0.5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 probootstrap-intro-text">
        <h1 class="probootstrap-animate">Portfolio</h1>
        <div class="probootstrap-subtitle probootstrap-animate">
          <h2>A free html website template for creative agency like you! brought to you by <a href="https://uicookies.com/" target="_blank">uicookies.com</a></h2>
        </div>
        <p class="watch-intro probootstrap-animate"><a href="https://vimeo.com/45830194" class="popup-vimeo">Watch the video <i class="icon-play2"></i></a></p>
      </div>
    </div>
  </div>
  <a class="probootstrap-scroll-down js-next" href="#next-section">Scroll down <i class="icon-chevron-down"></i></a>
</section>
<!-- END: section -->


<section id="next-section">
  <div class="container-fluid">
    <div class="row probootstrap-gutter0">
      <div class="col-md-4 col-sm-6">
        <a href="#" class="probootstrap-hover-overlay">
          <img src="/static/img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>Beautiful Office</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>Drawning In The Blue Water</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>Prominent Building</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>Pink Lips</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>House With Orange Window</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_6.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>Explorer Guy In The East</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>

      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>Beautiful Office</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>Drawning In The Blue Water</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>Prominent Building</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>Pink Lips</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>House With Orange Window</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>
      <div class="col-md-4 col-sm-6">
        <a href="portfolio-single.html" class="probootstrap-hover-overlay">
          <img src="/static/img/img_6.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
          <div class="probootstrap-text-overlay">
            <h3>Explorer Guy In The East</h3>
            <p>Website, Photography</p>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>

<script src="/static/js/scripts.min.js"></script>
<script src="/static/js/main.min.js"></script>
<script src="/static/js/custom.js"></script>

{% endblock %}
