<!doctype html>
<head>
<meta charset="utf-8">
<title>{% block title %}{% endblock %}</title>

<!-- meta -->
<meta name="description" content="">
<meta name="author" content="">
<!-- /meta -->


<!-- favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
<!-- /favicons -->

<!-- cookieui -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>uiCookies:Format &mdash; Free Bootstrap Theme, Free Responsive Bootstrap Website Template</title>
<meta name="description" content="Free Bootstrap Theme by uicookies.com">
<meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
<link rel="stylesheet" href="/static/css/styles-merged.css">
<link rel="stylesheet" href="/static/css/style.min.css">
<link rel="stylesheet" href="/static/css/custom.css">

</head>
<body>

  <!-- Wrap all page content here -->
  <div id="wrap">
  <!-- START: header -->
  <header role="banner" class="probootstrap-header">
      <div class="container-fluid">
          <a href="#" class="probootstrap-logo">Format<span>.</span></a>

          <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
          <div class="mobile-menu-overlay"></div>

          <nav role="navigation" class="probootstrap-nav hidden-xs">
            <ul class="probootstrap-main-nav">
              <li><a href="/photos/folio">Home</a></li>
              <li class="active"><a href="/photos/folio">Portfolio</a></li>
              <li><a href="#">Product</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
            <div class="extra-text visible-xs">
              <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>
              <h5>Social</h5>
              <ul class="social-buttons">
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook"></i></a></li>
                <li><a href="#"><i class="icon-instagram2"></i></a></li>
              </ul>
              <p><small>&copy; Copyright 2017 uiCookies:Format. All Rights Reserved.</small></p>
            </div>
          </nav>
      </div>
    </header>
    <!-- END: header -->

    <!-- Begin page content -->
    <main id="content" role="main" class="container">

      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-block alert-error fade in">
              <a class="close" data-dismiss="alert">&times;</a>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </main>

  </div>

  <div id="footer">
    <div class="container">
      <p>Your Company &copy; All Rights Reserved.</p>
      {% block footer %}{% endblock %}
    </div>
  </div>

  <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
  <script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
  </script>
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
</body>
</html>
